server:
  port: 8081
  shutdown: graceful
  netty:
    connection-timeout: 5s
spring:
  session:
    store-type: redis
    timeout: 10m
    redis:
      namespace: bookshop:edge
  profiles:
    active: local
  application:
    name: book-catalog
    lifecycle:
      timeout-per-shutdown-phase: 15s
  cache:
    type: redis
management.endpoints.web.exposure.include: refresh