spring:
  data:
    mongodb:
      database: book-catalog
      auto-index-creation: true
      host: mycloud.com
      port: 27017
  config.import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      request-connect-timeout: 1000
      request-read-timeout: 5000
      fail-fast: true
      retry:
        max-attempts: 6
        initial-interval: 1000
        max-interval: 2000
        multiplier: 1.1