server:
  #port: 9001
  netty:
    connection-timeout: 5s
spring:
  profiles:
    active: local
  application:
    name: book-catalog
  config.import: "optional:configserver:http://localhost:8888"
  cloud:
    config:
      request-connect-timeout: 1000
      request-read-timeout: 5000
      fail-fast: true
      retry:
        max-attempts: 6
        initial-interval: 1000
        max-interval: 2000
        multiplier: 1.1
management.endpoints.web.exposure.include: refresh