server:
  port: 9001
  shutdown: graceful
  netty:
    connection-timeout: 5s
spring:
  profiles:
    active: local
  application:
    name: book-catalog
    lifecycle:
      timeout-per-shutdown-phase: 15s
management.endpoints.web.exposure.include: refresh