apiVersion: v1
kind: Service
metadata:
  name: book-catalog-service
  labels:
    app: book-catalog
spec:
  type: ClusterIP
  selector:
    app: book-catalog
  ports:
  - protocol: TCP
    port: 9001
    targetPort: 9001